In [1]:
from bs4 import BeautifulSoup
import pdfplumber
import requests
import pandas as pd

In [2]:
# Record format: Source, Total plastic Mass (per km river flow), Microplastics (per km river flow), Sampling Dates, Sampling Location, Sampling Method
Data = pd.DataFrame(columns = [["Source"],["Total Plastic Mass (per km river flow)"], ["Total Microplastics (per km river flow)"], ["Sampling Dates"], ["Sampling Location"], ["Sampling Method"]])

In [3]:
# Target data spread = 2013 - 2021, across all UK main waterways
# greenpeace labs technical report - pages 16 to 17 - PDF - Feb/March 2019 - All UK
with pdfplumber.open("data/GP_mps.pdf") as pdf:
    for i in range(15,17):
        page = pdf.pages[i]
        print(page.extract_text(Layout = True))

Total number
Total plastic of plastic items Number of Equivalent number per square km
microplastics
River Sampling location Date mass (mg) per / fragments
km river flow per f k l m ow r iver (<5 r m iv m er ) f p lo e w r k m Total plastics Mic (< ro 5 p m la m s ) t ics
Exe Footbridge over the Exe in central Exeter 06/02/2019 flow rate not recorded
Exe Footbridge over the Exe in central Exeter 06/02/2019 flow rate not recorded
Exe Footbridge over the Exe in central Exeter 06/02/2019 3.76 3.47 1.45 11571 4821
Thames Mid-river, approx. 1.3km above Teddington Lock, between built up areas 11/02/2019 196.06 22.78 15.88 75938 52926
Thames Pedestrian bridge in Oxford, built up, housing estate 12/03/2019 60.88 18.53 11.47 61761 38233
Thames Footbridge, close to canal, semi-urban 12/03/2019 16.57 6.16 4.26 20518 14205
Thames Road bridge in Chertsey - lots of traffic. River wide, downstream of lock 12/03/2019 21.38 3.05 1.53 10181 5090
Severn Stone pedestrian bridge at Atcham, downstream of road bridge 19/02/2019 3.34 7.78 3.71 25940 12353
Severn On pedestrian (Diglis) suspension bridge, below sewage outlet and lock. 04/03/2019 99.17 10.12 3.37 33731 11244
Small footbridge near Gloucester docks over east branch of the Severn
Severn 04/03/2019 2.57 3.85 0.00 12833 0
above NTL
Great Ouse Some way below road bridge, near town, but quite rural 14/03/2019 0.54 0.27 0.27 897 897
Great Ouse Next to cluster of houses, 1 mile above Denver Sluice, rural 15/03/2019 0.00 0.00 0.00 0 0
Pedestrian suspension bridge in central Nottingham between park and
Trent 28/03/2019 24.38 9.14 7.84 30481 26127
urban area
Small village near Cottam Power Station. Grassy bank near road,
Trent 29/03/2019 0.76 3.54 3.28 11785 10943
farmland on other side.
Mersey Pedestrian suspension bridge between housing estate and large park 19/03/2019 10527.11 820.67 712.81 2735572 2376040
Mersey Pedestrian bridge between industrial estates in Stockport 19/03/2019 64.37 23.31 16.35 77708 54512
Aire Pedestrian suspension bridge in central Leeds above a weir 20/03/2019 61.14 12.74 7.64 42461 25476
Rural, close to canal lock (above this), grassy banks and agricultural land
Aire 20/03/2019 412.33 27.44 26.00 91469 86655
around. V flat with some flooding beyond banks
Derwent Pedestrian bridge between Cockermouth Town & park 22/03/2019 0.14 0.14 0.14 455 455
Pedestrian bridge between Workington town & green space on north
Derwent 22/03/2019 39.68 4.20 0.47 14006 1556
side
Pedestrian bridge in Durham, below main town, urban, a few weirs just
Wear 21/03/2019 0.40 0.61 0.61 2019 2019
upriver
Wear Below stone bridge entering Lambton Estate, just after a small waterfall 21/03/2019 0.34 0.68 0.68 2254 2254
Table 4a: total quantities of plastics (total mass in milligrammes, total number of plastic items/fragments and number of microplastics) retrieved from the net tows at all
sites across the nine rivers sampled in England, normalised for differences in river flow between sites by expressing the values per kilometre of river flow through the net
and per km2. For comparison with other published studies, results have also been normalised on the basis of numbers per m2 and per m3 in the Results section below.
Page 16 of 30
GRL-TR-04-2019
Total number
Number of
River Sampling location Date Total plastic of plastic items Equivalent number per km2
microplastics
mass (mg) per / fragments
(<5mm) per km
km river flow per km river Microplastics
river flow Total plastics
flow (<5mm)
Conwy Small footbridge in Betws-y-Coed 18/02/2019 0.00 0.00 0.00 0 0
Conwy Pont Gower - small footbridge above tidal limit 19/02/2019 1.08 2.42 0.81 8065 2688
Wye Stone bridge in Monmouth - Wye Bridge - lots of traffic 04/03/2019 3.50 2.10 1.40 7003 4669
Wye Metal bridge (Bigg Bridge) - dropped off upstream side and ran under 05/03/2019 15.84 2.41 1.03 8033 3443
Between Glasgow Green and housing in central Glasgow - from a boat.
Clyde 27/03/2019 43.29 51.95 43.29 173160 144300
Above weir
Clyde Pedestrian bridge between motorway and Strathclyde Country Park 27/03/2019 2.14 2.68 1.61 8925 5355
Upstream of road and footbridge at Ballynacross Rd in Lisburn. Just
Lagan 28/02/2019 6.38 7.09 5.67 23646 18917
below sewage outlet
Lagan Above Stranmillis Weir (NTL) in middle of river 01/03/2019 flow too low to calculate reliable estimates
Table 4b: total quantities of plastics (total mass in milligrammes, total number of plastic items/fragments and number of microplastics) retrieved from the net tows at all
sites across the two rivers sampled in Wales, one in Scotland and one in Northern Ireland, normalised for differences in river flow between sites by expressing the values
per kilometre of river flow through the net and per km2. For comparison with other published studies, results have also been normalised on the basis of numbers per m2
and per m3 in the Results sec
Page 17 of 30
GRL-TR-04-2019

In [4]:
# england .gov Microplastics cefas Data - CSV - 2013 to 2021 - England & Wales
cefas_dat = pd.read_csv("data/cefas_mps.csv")
cefas_dat.drop(["Rep", "Station", "Latitude", "Longitude", "Sediment dried weight in g","Gravel %", "Sand %", "Silt %", "OC2", "OC63", "Nit63", "Nit2"], axis = 1, inplace = True)
cefas_dat.head()

,Year,Number of particles,Number of particles Blank_Corrected,Number of particles per kg d.w. sediment,Coastal,Region
0,2013,41,38,7600,coastal,Northern North Sea
1,2013,61,58,11600,coastal,Northern North Sea
2,2013,45,42,8400,coastal,Northern North Sea
3,2013,12,9,1800,coastal,Northern North Sea
4,2013,20,17,3400,coastal,Northern North Sea

In [6]:
# scotland .gov Microplastics in Scotlands Seas - CSV - 2013 to Present - Scotland
scots_dat = pd.read_csv("data/Scotland_mps.csv")
scots_dat.drop(["Cruise", "Season", "Field_ID", "TOW_ID", "Year", "Decimal Latitude at deployment (WGS84)", "Decimal Longitude at deployment (WGS84)", "Tow_length (m)", "vol_filtered_m3", "WIND_SPEED", "WIND_Direction", "SEA_STATE", "Ship Speed"], axis = 1, inplace = True)
# now drop columns with Retrieve, km2, LTE, GT5
scots_dat.head()

,Region,DATE_Deploy,TIME_Deploy,FLOW_METER_READING_deploy,DATE_Retrieve,TIME_Retrieve,decLat_Retrieve,decLong_Retrieve,FLOW_METER_READING_retrieve,SUM_micro_km2,...,film_LTE5mm_count,nurdles_LTE5mm_count,paint_flakes_LTE5mm_count,fibres_GT5mm_count,beads_GT5mm_count,polystyrene_GT5mm_count,fragments_GT5mm_count,film_GT5mm_count,nurdles_GT5mm_count,paint_flakes_GT5mm_count
0,Forth and Tay,06/01/2014,16:23,8212,06/01/2014,17:05,56.08633,-2.83967,24662,5715,...,0,1,0,0,0,0,0,0,0,0
1,Forth and Tay,06/01/2014,17:24,24662,06/01/2014,18:25,56.13600,-2.69017,39113,9463,...,1,1,5,0,0,0,0,0,0,0
2,Moray Firth,08/01/2014,14:01,46519,08/01/2014,15:05,57.84333,-3.73500,79946,0,...,0,0,0,0,0,0,0,0,0,0
3,Moray Firth,08/01/2014,15:40,79946,08/01/2014,16:10,57.88667,-3.84950,300,0,...,0,0,0,0,0,0,0,0,0,0
4,Moray Firth,08/01/2014,18:50,300,08/01/2014,19:50,57.94650,-3.28083,33753,1022,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Normalise all collected data - date format, all lowercase, river/location names, units 
def normal_dat(data):
    """
    This function normalises an input DataFrame, ready for input into a larger microplastics dataset.
    
    Parameters:
    data (DataFrame): Input dataset
    
    Returns:
    norm_data (DataFrame): Normalised dataset
    """